ipdb==0.6.1
ipython==0.12
Fabric==1.2.0

Django==2.2.24
MySQL-python==1.2.3
South==0.7.3
django-extensions==0.8
python-memcached==1.47
jsonfield==0.7

-e git+git://github.com/vorushin/django-coffeescript.git#egg=django-coffeescript

gdata>=2.0.16

trans==1.3
