<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/timelineview.js" /></script>

    {% autoescape off %}
    <script>
        $(document).ready(function() { createTimeline({{events}}); })
    </script>
    {% endautoescape %}
</head>
<body>
    <div id="my-timeline" style="height: 500px; border: 1px solid #aaa"></div>
</body>
</html>
