{% extends 'base.html' %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.css">

    <!-- <script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" type="text/javascript"></script> -->
    <script src="{{ STATIC_URL }}timeline/timeline-api.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}js/timelineview.js" /></script>
    <script src="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.pack.js" /></script>
    <script src="{{ STATIC_URL }}fancybox/jquery.easing-1.3.pack.js" /></script>

    <script>
        $(document).ready(function() { createTimeline({{ events|safe }}, Timeline.DateTime.WEEK, Timeline.DateTime.MONTH); })
    </script>
{% endblock %}

{% block timeline %}
    <div id="my-timeline" style="height: 500px; border: 1px solid #aaa"></div>
{% endblock timeline %}

{% block content %}
<div class="children_panel">
  {% for child in children %}
<div class="child {% if child.slug == current_child_slug %}active{% else %}shadow_big{% endif %} grey_grad">
  <a href="{% url timeline.views.timeline username=username child_slug=child.slug %}" class="child_on">{{child.name}} <span>{{child.age}} old</span></a><a href="{% url profiles.views.edit_child username=username child_slug=child.slug %}" class="edit">Edit {{child.name}}'s profile</a>
</div>
  {% endfor %}
<a href="{% url profiles.views.add_child %}" class="add green_grad shadow_big" title="Add child profile">+</a> 

</div>

{% endblock content %}
