body {background:#F2F2F2 url(../img/bg.png);}
h1, h2, h3 {text-shadow: rgba(255,255,255, 1) 0px 1px 0px;}

/* Header*/

header {
    width:100%;
    background:#333 url(../img/bg_head.png);
    border-bottom: solid 1px #000;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5)  0px 2px 7px 1px  ;
-moz-box-shadow: rgba(0, 0, 0, 0.5)  0px 2px 7px 1px  ;
box-shadow: rgba(0, 0, 0, 0.5)  0px 2px 7px 1px  ;
}
header .inner, 
#main {
    width: 940px;
    margin:0 auto;
}
header .inner { position:relative; height:40px; }
header .logo {
    color:#fff;
    font: bold 22px/40px "Museo Sans 700", museo-sans-n7, museo-sans, sans-serif;
    text-shadow: #000 0px -1px 0px;
    padding-left:55px;
    background:url(../img/logo.png) 0 50% no-repeat;
}

header .login {position:absolute; top:0; right:0; height:40px; padding:10px 0;}
header .login, header .login a {font: normal 13px/20px sans-serif; color:#fff; }
header .login a {border-bottom: dotted 1px #fff; text-decoration:none;}

h1 {
    font: bold 44px/50px "Museo Sans 900", museo-sans-n9, museo-sans, sans-serif;
    margin:40px 0 10px;
}
h2 {
    font: bold 36px/40px "Museo Sans 700", museo-sans-n7, museo-sans, sans-serif;
    margin:40px 0 10px;
}
h3 {
    font: bold 22px/30px "Museo Sans 700", museo-sans-n7, museo-sans, sans-serif;
    margin:20px 0 10px;
}
p {
    font: normal 16px/20px Helvetica, Arial, sans-serif;
    margin: 0 0 20px;
}
label {
    display:block;
    font: bold 22px/30px "Museo Sans 700", museo-sans-n7, museo-sans, sans-serif;
    margin: 20px 0 0;
}
input.text, input.number {
    height:44px;
    font: bold 30px/44px "Museo Sans 700", museo-sans-n7, museo-sans, sans-serif;
background: #d1d1d1;
background: -moz-linear-gradient(top, #d1d1d1 0%, #ffffff 35%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(35%,#ffffff));
background: -webkit-linear-gradient(top, #d1d1d1 0%,#ffffff 35%);
background: -o-linear-gradient(top, #d1d1d1 0%,#ffffff 35%);
background: linear-gradient(top, #d1d1d1 0%,#ffffff 35%);
    border:solid 1px #999;
    color:#c66;
    padding:0 5px;
}

label.label_min {float:left;margin-right:20px; font: normal italic 15px/20px serif;}
input.number{width:100px;  }
input.text {width:400px;}
input.year {width:150px;}



span.suggest {
    font: italic 15px/16px serif;
    display:inline-block;
    margin: 7px 50px 7px 0;
}
p.suggest {
    font: italic 15px/16px serif;
    margin: 7px 0 20px;
}
a.btn {
    height: 44px;
    display:inline-block;
    margin: 20px 0 0;
    padding: 0 20px;
    text-align:center;
    font: bold 22px/44px "Museo Sans 700", museo-sans-n7, museo-sans, sans-serif;
    color:#fff;
    border-radius: 44px;
    text-decoration:none;
}

.source_form a.btn {margin-right:10px;}

.red_grad {
text-shadow: rgba(153, 51, 51, 1) 0px -1px 0px;
background:#c66;
background: -moz-linear-gradient(top, #cc6666 0%, #993333 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc6666), color-stop(100%,#993333));
background: -webkit-linear-gradient(top, #cc6666 0%,#993333 100%);
background: -o-linear-gradient(top, #cc6666 0%,#993333 100%);
background: linear-gradient(top, #cc6666 0%,#993333 100%);
}

.red_grad:hover {background:#c66;
background: -moz-linear-gradient(top, #993333 0%, #cc6666 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#993333), color-stop(100%,#cc6666));
background: -webkit-linear-gradient(top, #993333 0%,#cc6666 100%);
background: -o-linear-gradient(top, #993333 0%,#cc6666 100%);
background: linear-gradient(top, #993333 0%,#cc6666 100%);
}

.green_grad { 
text-shadow: #339900 0px -1px 0px;    
border:  solid -1px #339900;
background:#99cc33;
background: -moz-linear-gradient(top, #99cc33 0%, #339900 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99cc33), color-stop(100%,#339900));
background: -webkit-linear-gradient(top, #99cc33 0%,#339900 100%);
background: -o-linear-gradient(top, #99cc33 0%,#339900 100%);
background: linear-gradient(top, #99cc33 0%,#339900 100%);
}

.green_grad:hover {background:#99cc33;
background: -moz-linear-gradient(top, #339900 0%, #99cc33 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#339900), color-stop(100%,#99cc33));
background: -webkit-linear-gradient(top, #339900 0%,#99cc33 100%);
background: -o-linear-gradient(top, #339900 0%,#99cc33 100%);
background: linear-gradient(top, #339900 0%,#99cc33 100%);
}

a.btn_cancel {display: inline-block; height:14px; margin: 15px 0 15px 0; font: normal 13px/14px Helvetica, Arial, sans-serif; color: #666; border-bottom: dotted 1px #666;  text-decoration:none;}
a.btn_cancel:before { content: "× "; border-bottom:none; }
span.val_message {
    font: italic 13px/16px serif;
    color:#c66;
}
.form_message {
    display:block;
    margin: 20px 0;
    padding:20px;
    background: #F9EFCA;
}
input:focus:invalid {
background-color:#FCD3C9;
}
a.icon_source {
    display:block;
    height:64px;
    width:64px;
    float: left;
    margin: 0 20px 0 0;
    border: 1px solid #999;
    border-radius:5px;
}
.addsource .source_form,
.addsource .source_preview { width:440px; }
.addsource .source_form {
    float:left;
    margin: 0 30px 0 0;
}
.source_form ul li {list-style:none; display:block; height:20px; padding-left:23px; background: url(../img/fb_min.png) 0 2px no-repeat; line-height:20px; margin:10px 0 0;}
.addsource .source_preview { margin: 0 0 0 470px; }

.addsource .loading {text-indent:-999em; width:400px; height:400px; background: url("../img/load.gif") 50% 50% no-repeat;
.post {
    margin:0 0 20px;
    padding-right:30px;
    position:relative;
    border-bottom: dotted 1px #999;
}
.post .post_delete {
    display:block;
    position: absolute;
    top: 0;
    right:0;
    width: 20px;
    height:20px;
    border-radius: 20px;
    color:#fff;
    font: normal 14px/20px sans-serif;
    text-decoration:none;
    text-align:center;
}
.pic {
    display:block;
    width:40px;
    height:40px;
    float:left;
}
.post .tweet_text,
.post .post_info { margin: 0 0 5px 60px; }
.post .tweet_text { font: normal 18px/20px serif; margin-bottom:15px; }
.post .post_info {
    font: normal 13px/20px Helvetica, Arial, sans-serif;
    color:#777;
}


.child_saved {border-bottom:solid 1px #ccc; padding-bottom:30px; margin-top:30px;}
.child_saved .inlineedit {float:left; padding:5px; margin-right:10px;}
.child_saved .inlineedit a {display:block; height:32px; position:relative; font: bold 30px/32px "Museo Sans 700", museo-sans-n7, museo-sans, sans-serif; text-decoration:none; color:#c66; border-bottom:dotted 1px #c66; cursor:text;}
.child_saved .inlineedit a:hover {background:#F9EFCA; color:#444;}
.child_saved .inlineedit a .inline_label {display:block; position:absolute; font:normal 12px/14px sans-serif; text-transform:uppercase; color:#888; bottom:-18px; left:0;}

.addsource_btns {margin-bottom:20px;}

.source {float:left; position:relative; 
height: 40px;
margin-right: 40px;
padding: 20px 25px 20px 70px;
 border-radius:5px;}
.shadow_big {-webkit-box-shadow: rgba(0, 0, 0, 0.5)  2px 2px 7px 1px  ;
-moz-box-shadow: rgba(0, 0, 0, 0.5)  2px 2px 7px 1px  ;
box-shadow: rgba(0, 0, 0, 0.5)  2px 2px 7px 1px  ;}
.shadow_small {-webkit-box-shadow: rgba(0, 0, 0, 0.7)  1px 1px 4px 1px  ;
-moz-box-shadow: rgba(0, 0, 0, 0.7)  1px 1px 4px 1px  ;
box-shadow: rgba(0, 0, 0, 0.7)  1px 1px 4px 1px  ;}


.source.source_facebook {;
background: #ccc url(../img/fb.png) no-repeat 10px 15px;
background:url(../img/fb.png) no-repeat 10px 15px, -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
background:url(../img/fb.png) no-repeat 10px 15px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
background:url(../img/fb.png) no-repeat 10px 15px, -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
background:url(../img/fb.png) no-repeat 10px 15px, -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
background:url(../img/fb.png) no-repeat 10px 15px, linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
}

.source.source_twitter {
background: #ccc url(../img/tw.png) no-repeat 10px 15px;
background:url(../img/tw.png) no-repeat 10px 15px, -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
background:url(../img/tw.png) no-repeat 10px 15px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
background:url(../img/tw.png) no-repeat 10px 15px, -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
background:url(../img/tw.png) no-repeat 10px 15px, -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
background:url(../img/tw.png) no-repeat 10px 15px, linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
}
.source.source_youtube {
background: #ccc url(../img/yt.png) no-repeat 10px 15px;
background:url(../img/yt.png) no-repeat 10px 15px, -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
background:url(../img/yt.png) no-repeat 10px 15px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
background:url(../img/yt.png) no-repeat 10px 15px, -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
background:url(../img/yt.png) no-repeat 10px 15px, -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
background:url(../img/yt.png) no-repeat 10px 15px, linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
}

.source .added_source {position:relative; height:40px; width:40px;float:left; margin-right:10px; }

.source .added_source .delete  {display:block; position:absolute; top:-4px; right:-4px; height:12px; width:12px; border-radius:12px; color:#fff; text-align:center; font: normal 12px/12px Helvetica, Arial, sans-serif; text-decoration:none; z-index:3;}
.source .add {display:block; height:32px; width:32px;  float:left; margin:5px 0; border-radius:32px;
position:absolute; top:15px; right:-16px; color:#fff; font: bold 26px/32px Helvetica, Arial, sans-serif; text-align:center; text-decoration:none; z-index:2; }

.source .view {display:block; position:absolute; width:100%; height:100%; z-index:1; top:0; left:0;}



/* Godspeed You, Timeline */

.timeline-container {
position: absolute !important;
top: 160px;
width: 100%;}

.timeline-event-label {display:none;}
.timeline-date-label, .timeline-band-layer-inner {font: normal 20px/20px "Museo Sans 500", museo-sans-n5, museo-sans, sans-serif; color:#369 !important;}
.timeline-date-label {font-size:13px; line-height:20px; height:30px !important;}
.timeline-band-1 .timeline-date-label {font-size:20px; line-height:20px;}
.timeline-date-label-em {height: 30px !important; color:#444  !important; font: bold 20px/30px "Museo Sans 900", museo-sans-n9, museo-sans, sans-serif;}


/* Pics, Videos, Stacks */

.timeline-event-icon {background:#fff; padding:3px; border:1px solid #999; 
-webkit-box-shadow: rgba(0, 0, 0, 0.5)  2px 2px 7px 1px  ;
-moz-box-shadow: rgba(0, 0, 0, 0.5)  2px 2px 7px 1px  ;
box-shadow: rgba(0, 0, 0, 0.5)  2px 2px 7px 1px  ;}

.timeline-band-1,
.timeline-band-inner,
.timeline-band-layer,
.timeline-ether-bg,
.timeline-ether-highlight {cursor:url("../img/drag.png"), move; }


/*  Children panel */

.children_panel {margin:20px 0;}
.children_panel .child {display:block;  float:left; position:relative;  border-radius:5px; margin-right:30px; -webkit-box-shadow: rgba(0, 0, 0, 0.5)  2px 2px 7px 1px  ;
-moz-box-shadow: rgba(0, 0, 0, 0.5)  2px 2px 7px 1px  ;
box-shadow: rgba(0, 0, 0, 0.5)  2px 2px 7px 1px  ;}

.children_panel .child.active {border:2px solid #339900; }

.children_panel .child a.child_on {min-width:120px; border-radius:5px; font: bold 30px/32px "Museo Sans 700", museo-sans-n7, museo-sans, sans-serif; color:#c66; text-decoration:none; padding:10px 30px 20px 10px; display:block;}
.children_panel .child a.child_on:hover {background:#F9EFCA;}
.children_panel .child.active a.child_on:hover {background:inherit; cursor:default;}
.children_panel .child span {display:block; position:absolute; font:normal 12px/14px sans-serif; text-transform:uppercase; color:#888; bottom:5px; left:10px;}

.children_panel .child a.edit {display:block; height:32px; width:32px;  float:left; margin:5px 0; border-radius:32px; text-indent:-999em; position:absolute; top:10px; right:-16px; 
 border:  solid 1px rgba(51, 153, 0, 0.7);
background:#99cc33 url(../img/edit.png) 50% 50% no-repeat;
background: url(../img/edit.png) 50% 50% no-repeat, -moz-linear-gradient(top, #99cc33 0%, #339900 100%);
background: url(../img/edit.png) 50% 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99cc33), color-stop(100%,#339900));
background: url(../img/edit.png) 50% 50% no-repeat, -webkit-linear-gradient(top, #99cc33 0%,#339900 100%);
background: url(../img/edit.png) 50% 50% no-repeat, -o-linear-gradient(top, #99cc33 0%,#339900 100%);
background: url(../img/edit.png) 50% 50% no-repeat, linear-gradient(top, #99cc33 0%,#339900 100%);
}

.children_panel .child a.edit:hover {
background:#99cc33;
background: url(../img/edit.png) 50% 50% no-repeat, -moz-linear-gradient(top, #339900 0%, #99cc33 100%);
background: url(../img/edit.png) 50% 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#339900), color-stop(100%,#99cc33));
background: url(../img/edit.png) 50% 50% no-repeat, -webkit-linear-gradient(top, #339900 0%,#99cc33 100%);
background: url(../img/edit.png) 50% 50% no-repeat, -o-linear-gradient(top, #339900 0%,#99cc33 100%);
background: url(../img/edit.png) 50% 50% no-repeat, linear-gradient(top, #339900 0%,#99cc33 100%);}


.children_panel .add {display:block; height:32px; width:32px;  float:left; margin:15px 0; border-radius:32px; color:#fff; font: bold 26px/32px Helvetica, Arial, sans-serif; text-align:center; text-decoration:none; }

.message_big {text-align:center;}

/* Home */
.home_title {text-align:center;}
.home_title h1 {font: bold 60px/70px "Museo Sans 900", museo-sans-n9, museo-sans, sans-serif; margin:30px 0 0; color:#B14B4B;}
.home_title h2 {font: normal 24px/30px Georgia, sans-serif; margin:0;}

.action_btns {position:absolute; z-index:999; margin:0 auto; width:100%; text-align:center; top:500px;}
.action_btns .sep {padding: 0 20px; font: bold 16px/48px "Museo Sans 500", museo-sans-n5, museo-sans, sans-serif;}
.action_btns a.btn {height: 48px; border-radius:44px; font: bold 30px/48px "Museo Sans 900", museo-sans-n9, museo-sans, sans-serif; padding: 0 30px; border:none;}