<!doctype html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>familyfeed</title>

<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="{{ STATIC_URL }}css/default.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

<script src="{{ STATIC_URL }}js/jquery.min.js" /></script>
<script src="{{ STATIC_URL }}js/jquery-csrf.js" /></script>

<script type="text/javascript" src="http://use.typekit.com/wwf1hbw.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

{% block extrahead %}{% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11723567-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body{% if body_class %} class="{{body_class}}"{% endif %}>
<div id="container">
  <header>
    <a href="https://github.com/vorushin/FamilyFeed"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png" alt="Fork me on GitHub"></a>
    <div class="inner">
      <a href="{% url timeline.views.start %}"><div class="logo">familyfeed</div></a>
      <div class="login">
        {% if user.is_authenticated %}
          Welcome, <strong>{{ user.username }}</strong>. <a href="{% url logout %}">Log out</a>&nbsp;&rarr;
        {% else %}
          You are not logged in. <a href="{% url login %}">Log in</a>&nbsp;&rarr;
        {% endif %}
      </div>
    </div>
  </header>

  {% block timeline %}{% endblock %}

  <div id="main">
    {% for message in messages %}
        <p class="form_message shadow_big"><strong>{{ message }}</strong></p>
    {% endfor %}
  {% block content %}{% endblock %}
  </div>

  {% block start_buttons %}{% endblock %}

  <footer> </footer>
</div>
<!-- end of #container -->
</body>
</html>
