<!doctype html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>familyfeed</title>

<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="{{ STATIC_URL }}css/default.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

<script src="{{ STATIC_URL }}js/jquery.min.js" /></script>
<script src="{{ STATIC_URL }}js/jquery-csrf.js" /></script>

<script type="text/javascript" src="http://use.typekit.com/wwf1hbw.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

{% block extrahead %}{% endblock %}

</head>
<body>
<div id="container">
  <header>
    <div class="inner">
      <div class="logo">familyfeed</div>
      <div class="login">
        {% if user.is_authenticated %}
          Welcome, <strong>{{ user.username }}</strong>. <a href="{% url logout %}">Log out</a>&nbsp;&rarr;
        {% else %}
          You are not logged in. <a href="{% url login %}">Log in</a>&nbsp;&rarr;
        {% endif %}
      </div>
    </div>
  </header>

  {% block timeline %}{% endblock %}

  <div id="main">
    {% for message in messages %}
        <p class="form_message shadow_big"><strong>{{ message }}</strong></p>
    {% endfor %}
  {% block content %}{% endblock %}
  </div>

  {% block start_buttons %}{% endblock %}

  <footer> </footer>
</div>
<!-- end of #container -->
</body>
</html>
