<!doctype html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>familyfeed</title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="{{ STATIC_URL }}css/default.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
<script src="{{ STATIC_URL }}js/jquery.min.js" /></script>
<script src="{{ STATIC_URL }}js/jquery-csrf.js" /></script>

{% block extrahead %}{% endblock %}

</head>
<body>
<div id="container">
  <header>
    <div class="inner">
      <div class="logo">familyfeed</div>
    </div>
  </header>
  <div id="main">

  {% block content %}{% endblock %}

  </div>
  <footer> </footer>
</div>
<!-- end of #container -->
</body>
</html>