{% extends 'base.html' %}

{% block extrahead %}
  <script src="{{ STATIC_URL }}js/add_child.js"></script>
{% endblock extrahead %}

{% block content %}
  <div class="register step2 cf">
    <h1>Add some info about your child</h1>
    <p>Some instructions goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et vestibulum augue.</p>
    <form method="POST" action="." сlass="cf">
      {% csrf_token %}
      <label for="babyname">Your child's name</label>
      <input type="text" name="name" value="{{ form.data.name }}" class="text" id="babyname" tabindex="1" required>
      {% for error in form.errors.name %}<span class="val_message">{{ error }}</span>{% endfor %}

      <div class="cf">
        <label>His/her birthdate</label>
        <label class="label_min label_year">
          <input type="number" name="year" class="number year" id="dateofbirth_year" min="1995" max="2011" step="1" tabindex="2" required>
          Year</label>
        <label class="label_min label_year">
          <input type="number" name="month" class="number month" id="dateofbirth_month" min="01" max="12" step="1" tabindex="3" required>
          Month</label>
        <label class="label_min label_year">
          <input type="number" name="day" class="number day" id="dateofbirth_day"  min="01" max="31" step="1" tabindex="4" required>
          Day</label>
        {% for error in form.errors.birthdate %}<span class="val_message">{{ error }}</span>{% endfor %}
      </div>
      <a href="#" role="button" class="btn red_grad shadow_big"><strong>Save</strong></a>
    </form>
  </div>
{% endblock content %}