{% extends 'base.html' %}

{% load coffeescript %}

{% block extrahead %}
    <script>
    {% inlinecoffeescript %}
        $(document).ready ->
            $('div.source_facebook a.view').click ->
                $('div.add_twitter').hide()
                $('div.add_youtube').hide()
                $('div.add_facebook').show()
                return false

            $('div.source_facebook a.add').click ->
                window.open(
                    '{% url profiles.views.add_facebook_profile child.user.username child.slug %}',
                    'Adding facebook profile',
                    'height=600,width=800,toolbar=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no')
                return false

            window.refresh_sources = -> window.location.reload()

            $('div.add_facebook a.preview').click ->
                $.get('{% url profiles.views.get_facebook_data_ajax child.user.username child.slug %}',
                      {'keywords': $('#facebook_searchfor').val()},
                      (data) -> $('div.add_facebook div.source_preview').html(data))
                return false

            $('div.add_facebook a.save').click ->
                $('div.add_facebook form').submit()
                return false

            $('a.btn_cancel').click ->
                $('div.add_twitter').hide()
                $('div.add_youtube').hide()
                $('div.add_facebook').hide()
    {% endinlinecoffeescript %}
    </script>
{% endblock extrahead %}

{% block content %}
  <div class="register step2 cf">
    <div class="child_saved cf">
      <div class="inlineedit name"><a href="" class="edit dotted" title="Click to edit">{{ child.name }}<span class="inline_label">name</span></a></div>
      <div class="inlineedit date"><a href="" class="edit dotted" title="Click to edit">{{ child.birthdate|date:"Y-m-d" }}<span class="inline_label">date of birth</span></a></div>
    </div>
  </div>
  <h2>Add sources</h2>
  <p>Now let's add a few resources that contain photos, videos
    and other stuff about <em>{{ child.name }}</em></p>
  <div class="addsource_btns cf">
    <div class="source source_facebook shadow_big">
        <a href="#" class="view"></a>
        {% for source in child.facebook_sources %}
            <div class="added_source cf">
                <a href="#" class="view">
                    <img src="{{ source.picture }}" alt="{{ source.name }}" title="{{ source.name }}"  class="pic" />
                </a>
                <a href="#" title="Delete source" class="delete shadow_small red_grad">×</a>
            </div>
        {% endfor %}
        <a href="#" class="add green_grad shadow_big" title="Add source">+</a>
    </div>

    <div class="source source_twitter shadow_big">
        {% comment %}
        <div class="added_source cf">
        <img src="http://a1.twimg.com/profile_images/1468944732/contactango_normal.jpeg" alt="Roman Vorushin"  class="pic" />
        <a href="#" title="Delete source" class="delete shadow_small red_grad">×</a>
        </div>
        {% endcomment %}
        <a href="#" class="add green_grad shadow_big" title="Add source">+</a>
    </div>

    <div class="source source_youtube shadow_big">
        {% comment %}
        <div class="added_source cf">
        <img src="http://a1.twimg.com/profile_images/1468944732/contactango_normal.jpeg" alt="Roman Vorushin"  class="pic" />
        <a href="#" title="Delete source" class="delete shadow_small red_grad">×</a>
        </div>
        {% endcomment %}
        <a href="#" class="add green_grad shadow_big" title="Add source">+</a>
    </div>
  </div>

  <div class="addsource add_facebook cf" style="display: none;">
    <div class="source_form">
      <form method="POST" action="{% url profiles.views.save_facebook_source child.user.username child.slug %}" сlass="cf">
        {% csrf_token %}

        <label>Facebook profiles:</label>
        <ul>
            {% for source in child.facebook_sources %}<li>{{ source.name }}</li>{% endfor %}
        </ul>

        <label for="facebook_searchfor">Search for:</label>
        <span class="suggest">You can add a few words separated by commas</span>
        <input type="text" name="keywords" class="text" id="facebook_searchfor" value="{{ child.facebook_keywords }}">
      </form>
      <a href="#" role="button" class="btn save shadow_big red_grad"><strong>Save</strong></a>
      <a href="#" class="btn green_grad shadow_big preview" role="button"><strong>Preview</strong></a>
      <a href="#" class="btn_cancel">Cancel</a>
    </div>

    <div class="loading">
        Loading
    </div>
    <div class="source_preview">
    </div>
  </div>

  <div class="addsource add_twitter cf" style="display: none;">
    <div class="source_form">
      <form action="#" сlass="cf">
        <label for="twitter_accounts">Twitter usernames</label>
        <span class="suggest">You can add a few usernames separated by commas (for example your's and your spouse's)</span>
        <input type="text" class="text" id="twitter_accounts" placeholder="@" >
        <label for="twitter_searchfor">Search for:</label>
        <span class="suggest">You can add a few words separated by commas</span>
        <input type="text" class="text" id="twitter_searchfor" value="Martha">
      </form>
      <a href="#" role="button" class="btn shadow_big red_grad"><strong>Save these sources</strong></a> <a href="#" class="btn_cancel">Cancel</a>
    </div>

    <div class="source_preview">
    </div>
  </div>

  <div class="addsource add_youtube cf" style="display: none;">
  </div>
  </div>
{% endblock content %}