<h3>Preview feed:</h3>
<p class="suggest">You can remove some of the results, unless you want to add them to the feed</p>
{% for event in youtube_events %}
    <div class="post tweet">
        {% if event.icon %}<img src="{{ event.icon }}" class="pic" />{% endif %}
        <div class="post_info">
            <span class="post_date">{{ event.start }}</span>
        </div>
        <div class="tweet_text">{{ event.title }}</div>
        {#<a href="#" class="post_delete red_grad shadow_small">×</a>#}
    </div>
{% endfor %}